/* Write your CSS here */

.btn {
  width: 40%;
  background-color: #382f5a;
  color: #c7d2fe;
  margin: 5px;
  height: 35px;
  border-radius: 5px;
  border-width: 2px;
  border-color: #c4c4c4;
}
.lis {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
